.layoutTitle {

}
.layoutTitle {
	color: white;
	text-decoration: none;
	font-size: 20px;
	border: none;
	background: none;
	font-weight: 600;
	font-family: Arial, sans-serif;
}

.layoutTitle::before {
	margin-left: auto;
}

.layoutTitle::after, .layoutTitle::before {
	content: '';
	width: 0%;
	height: 2px;
	background: #808080;
	display: block;
	transition: 0.5s;
}

.layoutTitle:hover::after, .layoutTitle:hover::before {
	width: 100%;
}