<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SocialProgrammer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/SocialProgrammer.styles.css" asp-append-version="true"/>
</head>
<body class="bg-light">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Article" asp-action="ArticleForm">SocialProgrammer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="layoutTitle">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Article" asp-action="ArticleForm">Home</a>
                        </li>
                        <li class="layoutTitle">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="ProfileForm">Profile</a>
                        </li>
                        <li class="layoutTitle">
                            <a class="nav-link text-dark" asp-area="" asp-route-id="" asp-controller="Message" asp-action="MessagesForm">Messages</a>
                        </li>
                        <li class="layoutTitle">
                            <a class="nav-link text-dark" asp-area="" asp-route-id="" asp-controller="BestArticles" asp-action="BestArticlesForm">Best Articles</a>
                        </li>
                    }
                    else
                    {
                        <li class="layoutTitle">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Article" asp-action="ArticleForm">Home</a>
                        </li>
                        <li class="layoutTitle">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="LoginForm">Login</a>
                        </li>
                        <li class="layoutTitle">
                            <a class="nav-link text-dark" asp-area="" asp-route-id="" asp-controller="BestArticles" asp-action="BestArticlesForm">Best Articles</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="searchLine">
                <a href="https://localhost:44333/Search/SearchForm">Search</a>
            </div>
        </div>
    </nav>
</header>

<div class="container">
        <div class="col-md-8 order-md-1">
            @RenderBody()
        </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>