@using SocialProgrammer.Domain.Entity;
@using SocialProgrammer.Domain.Enum
@model IEnumerable<UserEntity>
@{
    ViewData["Title"] = "Home Page";
}

@*@if (Model.Count() == 0)
{
    @foreach (var item in Model)
    {
        <label>@item.Email</label>
    }
}*@s
<h4 class="mb-3 text-muted">Создание задачи</h4>
<form id="createTaskForm">
    <div class="mb-3">
        <label class="form-label">Название задачи</label>
        <input name="name" type="text" class="form-control"/>
    </div>
    <label class="form-label">Приоритет задачи</label>

    <div class="mb-3">
        <label class="form-label">Описание задачи</label>
        <textarea name="description" type="text" class="form-control" rows="3"></textarea>
    </div>
    <button id="createTask" class="btn btn-primary">Создать</button>
</form>
<form asp-controller="User" asp-action="Post">
    <button value="Create"></button>
</form>
